* {
  box-sizing: border-box;
}

main {
  position: relative;
  width: 90vh;
}
.frame {
  width: 60vh;
  height: 60vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  border: 10px solid white;
  pointer-events: none;
}
.frame.cornered {
  width: 30vh;
  height: 30vh;
  top: 0;
  right: 0;
}
video,
#snapshot {
  height: 100%;
  width: auto;
  position: relative;
  left: -12.5%;
}
canvas {
  display: none;
}
.controls {
  padding: 10px;
  position: relative;
  top: 30vh;
  left: 60vh;
}
button {
  height: 15vh;
  width: calc(30vh - 5px);
  border: none;
  border-right: 10px solid white;
  background: #eee;
  padding: 0;
  cursor: pointer;
}
.hide {
  display: none;
}
